.app-theme-light {
  --primary-text: black;
  --primary-color: #96cc64;
  --secondary-color: #275a95;
  --secondary-text: ;
  --accent-1: ;
  --accent-2: ;
  --sub-text: #7a7a7a;
  --background-color: #ffffff;
  --card-color: ;
  transition: 400ms;
}

.app-theme-dark {
  --primary-text: #f0f0f0;
  --primary-color: #c9ff94;
  --secondary-color: #90b5f9;
  --secondary-text:  ;
  --accent-1: ;
  --accent-2: ;
  --sub-text: #bfbfbf;
  --background-color: #272727;
  --card-color: ;
  transition: 400ms;
}

